:root {
  --header-height: 70px;
  --header-logo-height: 40px;
  --aside-logo-height: 40px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
* a {
  text-decoration: none;
  color: black;
}
* ion-icon {
  pointer-events: none;
}

body {
  background-color: #e8e5e5;
  background-image: url(../media/img/hinh-o-vuong.png);
}

.title {
  position: absolute;
  top: 110%;
  left: 50%;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #ee7c39;
  width: max-content;
  font-size: small;
  color: white;
  display: none;
}

header {
  position: fixed;
  right: 0px;
  width: 100%;
  display: flex;
  height: var(--header-height);
  align-items: center;
  justify-content: center;
  background-color: #1abc9c;
  z-index: 10;
}
header a {
  vertical-align: middle;
  color: black;
}
header a:hover {
  color: #ee7c39;
}

.header__search {
  flex: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__left {
  flex: 10%;
  display: flex;
  font-size: x-large;
  justify-content: end;
}

.header__left--btn-back {
  padding-right: 10px;
}

.header__left--btn-next {
  padding-left: 10px;
}

.header__center {
  flex: 70%;
  padding-left: 20px;
  display: flex;
}

.header__center--input {
  flex: 90%;
  flex-shrink: 0;
}
.header__center--input input {
  width: 100%;
  border-radius: 15px;
  color: #ee7c39;
  padding: 5px 10px;
  font-size: small;
  font-weight: 600;
  border: 0;
}
.header__center--input input::placeholder {
  color: #1abc9c;
  padding-left: -10px;
  font-size: small;
  font-weight: 500;
}
.header__center--input input:focus {
  outline: 0px;
}

.header__center--search-btn {
  position: relative;
  width: 10%;
  padding-left: 10px;
}
.header__center--search-btn ion-icon {
  vertical-align: middle;
  font-size: x-large;
}

.header__center--search-btn:hover .title {
  display: block;
}

.header__right {
  flex: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0px 20px 0px 40px;
  gap: 20px;
}

.header__right--avatar {
  position: relative;
}
.header__right--avatar img {
  height: var(--header-logo-height);
  border-radius: 50%;
  object-fit: cover;
}
.header__right--avatar .title {
  left: -100%;
}

.header__right--avatar:hover .title {
  display: block;
}

.header__right--item {
  position: relative;
}
.header__right--item ion-icon {
  font-size: large;
  padding: 10px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.header__right--show {
  display: none;
}

.header__right--item:hover .title {
  display: block;
}

aside {
  display: flex;
  width: 100%;
  position: fixed;
  left: 0px;
  height: calc(100vh - 70px);
  flex-direction: column;
  background-color: #1abc9c;
  padding: 0px !important;
  background-image: url(../media/img/hinh-o-vuong.png);
}
aside hr {
  margin: 10px;
}

.aside__logo {
  padding: 15px 20px;
}
.aside__logo img {
  height: var(--aside-logo-height);
  display: block;
  object-fit: cover;
}

.aside__menu--item {
  list-style: none;
  padding: 0;
  margin: 0;
}
.aside__menu--item li {
  padding: 10px 20px;
}
.aside__menu--item li ion-icon {
  vertical-align: middle;
  text-align: center;
  font-size: x-large;
  padding-right: 5px;
}
.aside__menu--item li i {
  vertical-align: middle;
  text-align: center;
  font-size: x-large;
  padding-right: 5px;
}
.aside__menu--item li span {
  vertical-align: middle;
  font-weight: 500;
  font-size: medium;
}
.aside__menu--item li:hover a {
  color: #ee7c39;
}
.aside__menu--item li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.aside__menu--item-live {
  background-color: red;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 5px;
  font-size: 1vmin !important;
  font-weight: bold !important;
  color: white;
}

.aside__scroll {
  overflow-y: scroll;
}

.aside__scroll::-webkit-scrollbar {
  width: 5px;
  background-image: url(../media/img/hinh-o-vuong.png);
  background-color: #1abc9c;
}

.aside__scroll::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: 0 0 3px rgb(0, 0, 0);
  background-color: #ee7c39;
}

.aside__upgrade-vip {
  padding: 10px;
  margin: 20px;
  text-align: center;
  background: linear-gradient(to right, rgba(21, 21, 21, 0.7), rgba(7, 52, 188, 0.8));
  border-radius: 10px;
}
.aside__upgrade-vip p {
  color: white;
  font-size: smaller;
}
.aside__upgrade-vip button {
  width: 90%;
  padding: 5px;
  border-radius: 20px;
  border: 0;
  background-color: yellow;
  font-weight: 600;
  font-size: smaller;
}

.aside__menu h1 {
  padding: 0 20px;
  font-size: x-large;
}

.aside__create-playlist {
  padding: 10px 20px;
}
.aside__create-playlist h1 {
  display: inline-block;
  font-size: small;
  font-weight: 700;
}
.aside__create-playlist ion-icon {
  vertical-align: middle;
  text-align: center;
  font-size: x-large;
  padding-right: 5px;
}
.aside__create-playlist a:hover {
  color: #ee7c39;
}

.aside__create-playlist:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

main {
  position: absolute;
  top: var(--header-height);
  right: 0;
  padding: 0 20px !important;
  height: calc(100vh - 70px) !important;
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
}
main hr {
  border-radius: 2px;
  font-weight: bolder;
}

.main__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__overlay--item a {
  color: white;
  font-size: large;
  padding: 10px;
  vertical-align: middle;
}
.main__overlay--item a:nth-child(2) {
  font-size: xx-large;
}

.banner {
  padding: 30px 0;
}
.banner .carousel-inner {
  border-radius: 10px;
}

.main__slide-banner {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 20px;
}

.main__slide-banner--item {
  flex: 30%;
}
.main__slide-banner--item img {
  width: 100%;
  border-radius: 10px;
}

.main__recently {
  padding: 20px 0;
}

.main__recently-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__recently-title--item h1 {
  font-size: large;
  font-weight: bold;
  margin: auto;
}
.main__recently-title--item span {
  vertical-align: middle;
  font-size: small;
}
.main__recently-title--item ion-icon {
  vertical-align: middle;
}
.main__recently-title--item a:hover {
  color: #ee7c39;
}

.main__recently-items {
  display: flex;
  gap: 20px;
}

.main__recently-item {
  flex: 16%;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.main__recently-item--card {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.main__recently-item--card img {
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
  transition: transform 1s;
}

.main__recently-item--card:hover .main__overlay {
  z-index: 1;
}
.main__recently-item--card:hover img {
  transform: scale(1.2);
}

.main__recently-item--info {
  padding-top: 10px;
}
.main__recently-item--info h1 {
  font-size: medium;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
.main__recently-item--info a:hover {
  color: #ee7c39;
}

.main__maybe-want {
  padding: 20px 0px;
}

.main__maybe-want-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__maybe-want-title--item h1 {
  font-size: large;
  font-weight: 900;
  margin: auto;
}
.main__maybe-want-title--item span {
  font-size: small;
  vertical-align: middle;
}
.main__maybe-want-title--item ion-icon {
  vertical-align: middle;
}
.main__maybe-want-title--item a:hover {
  color: #ee7c39;
}

.main__maybe-want-items {
  display: flex;
  width: 100%;
  gap: 20px;
}

.main__maybe-want-item {
  flex: 20%;
  flex-grow: 0;
  padding: 20px 0;
}

.main__maybe-want-card {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.main__maybe-want-card img {
  width: 100%;
  object-fit: cover;
  transition: transform 1s;
}

.main__maybe-want-card:hover .main__overlay {
  z-index: 1;
}
.main__maybe-want-card:hover img {
  transform: scale(1.2);
}

.main__maybe-want-info {
  padding: 10px 0px;
}
.main__maybe-want-info a:hover {
  color: #ee7c39;
}

.main__maybe-want-info--name h1 {
  font-size: medium;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.main__maybe-want-info--author span {
  font-size: smaller;
  color: grey;
}
.main__maybe-want-info--author span:hover {
  color: #ee7c39;
}

.main__today-music {
  padding: 20px 0px;
}

.main__today-music-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__today-music-title--item h1 {
  font-size: large;
  font-weight: 900;
  margin: auto;
}
.main__today-music-title--item span {
  font-size: small;
  vertical-align: middle;
}
.main__today-music-title--item ion-icon {
  vertical-align: middle;
}
.main__today-music-title--item a:hover {
  color: #ee7c39;
}

.main__today-music-items {
  display: flex;
  width: 100%;
  gap: 20px;
}

.main__today-music-item {
  flex: 20%;
  flex-grow: 0;
  padding: 20px 0;
}

.main__today-music-card {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.main__today-music-card img {
  width: 100%;
  object-fit: cover;
  transition: transform 1s;
}

.main__today-music-card:hover .main__overlay {
  z-index: 1;
}
.main__today-music-card:hover img {
  transform: scale(1.2);
}

.main__today-music-info {
  padding: 10px 0px;
}
.main__today-music-info a:hover {
  color: #ee7c39;
}

.main__today-music-info--name h1 {
  font-size: medium;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.main__today-music-info--author span {
  font-size: small;
  color: grey;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.main__xone {
  padding: 20px 0px;
}

.main__xone-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__xone-title--item h1 {
  font-size: large;
  font-weight: 900;
  margin: auto;
}
.main__xone-title--item span {
  font-size: small;
  vertical-align: middle;
}
.main__xone-title--item ion-icon {
  vertical-align: middle;
}
.main__xone-title--item a:hover {
  color: #ee7c39;
}

.main__xone-items {
  display: flex;
  width: 100%;
  gap: 20px;
}

.main__xone-item {
  flex: 20%;
  flex-grow: 0;
  padding: 20px 0;
}

.main__xone-card {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.main__xone-card img {
  width: 100%;
  object-fit: cover;
  transition: transform 1s;
}

.main__xone-card:hover .main__overlay {
  z-index: 1;
}
.main__xone-card:hover img {
  transform: scale(1.2);
}

.main__xone-info {
  padding: 10px 0px;
}
.main__xone-info a:hover {
  color: #ee7c39;
}

.main__xone-info--name h1 {
  font-size: medium;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.main__xone-info--author span {
  font-size: small;
  color: grey;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.main__radio {
  padding: 20px 0px;
}

.main__radio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__radio-title--item h1 {
  font-size: large;
  font-weight: 900;
  margin: auto;
}
.main__radio-title--item span {
  font-size: small;
  vertical-align: middle;
}
.main__radio-title--item ion-icon {
  vertical-align: middle;
}
.main__radio-title--item a:hover {
  color: #ee7c39;
}

.main__radio-items {
  display: flex;
  width: 100%;
  gap: 30px;
}

.main__radio-item {
  flex: 14%;
  flex-grow: 0;
  padding: 20px 0;
}

.main__radio--ava-popup {
  position: relative;
}

.main__radio-card {
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  border: 5px solid rgba(0, 0, 0, 0.2);
}
.main__radio-card img {
  width: 100%;
  object-fit: cover;
  transition: transform 1s;
}
.main__radio-card .main__overlay--item ion-icon {
  font-size: 4vmax;
}

.main__radio-card--brand {
  position: absolute;
  right: 0;
  bottom: 5%;
  width: 30%;
  height: 30%;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid black;
  z-index: 2;
}
.main__radio-card--brand img {
  width: 100%;
  object-fit: cover;
}

.main__radio-card--live {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  border-radius: 5px;
  background-color: red;
  padding: 0px 10px;
  z-index: 2;
}
.main__radio-card--live span {
  font-size: xx-small;
  color: white;
  vertical-align: middle;
  font-weight: 700;
}

.main__radio-card:hover .main__overlay {
  z-index: 1;
}
.main__radio-card:hover img {
  transform: scale(1.2);
}

.main__radio-info {
  padding: 10px 0px;
  text-align: center;
}

.main__radio-info--name {
  padding-top: 10px;
}
.main__radio-info--name h1 {
  font-size: medium;
  font-weight: 600;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.main__radio-info--author span {
  font-size: small;
  color: grey;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.main__rank {
  padding: 20px 0px;
}

.main__rank-items {
  display: flex;
  width: 100%;
  gap: 20px;
}

.main__rank-item {
  flex: 33%;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.main__rank-item hr {
  margin: 5px 10%;
}

.main__rank-card {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.main__rank-card img {
  width: 100%;
  object-fit: cover;
  transition: transform 1s;
}

.main__rank-card:hover .main__overlay {
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}
.main__rank-card:hover .main__overlay a {
  width: 100%;
  height: 100%;
}
.main__rank-card:hover img {
  transform: scale(1.1);
}

.main__rank-card-list {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 10px 0;
}

.main__rank-card-list--number {
  flex-shrink: 0;
  width: 40px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 8px;
}
.main__rank-card-list--number span {
  font-size: x-large;
}

.main__rank-card-list:nth-of-type(2) span {
  color: red;
}

.main__rank-card-list:nth-of-type(3) span {
  color: rgb(33, 102, 102);
}

.main__rank-card-list:nth-of-type(4) span {
  color: orange;
}

.main__rank-card-list--name {
  width: 100%;
}
.main__rank-card-list--name h1 {
  font-size: medium;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
.main__rank-card-list--name h1 a:hover {
  color: #ee7c39;
}
.main__rank-card-list--name h2 {
  font-size: smaller;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  color: grey;
}
.main__rank-card-list--name h2 a {
  color: grey;
}
.main__rank-card-list--name h2 a:hover {
  color: #ee7c39;
}

.main_mv {
  padding: 20px 0px;
}

.main__mv-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__mv-title--item h1 {
  font-size: large;
  font-weight: 900;
  margin: auto;
}
.main__mv-title--item span {
  font-size: small;
  vertical-align: middle;
}
.main__mv-title--item ion-icon {
  vertical-align: middle;
}
.main__mv-title--item a:hover {
  color: #ee7c39;
}

.main__mv-items {
  display: flex;
  gap: 40px;
  padding: 20px 0;
}

.main__mv-item {
  flex: 33%;
  position: relative;
  flex-grow: 0;
  padding-bottom: 17%;
  overflow: hidden;
}
.main__mv-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main__event {
  padding: 20px 0px;
}

.main__event-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__event-title--item h1 {
  font-size: large;
  font-weight: 900;
  margin: auto;
}
.main__event-title--item span {
  font-size: small;
  vertical-align: middle;
}
.main__event-title--item ion-icon {
  vertical-align: middle;
}
.main__event-title--item a:hover {
  color: #ee7c39;
}

.main__event-items {
  display: flex;
  width: 100%;
  gap: 30px;
}

.main__event-item {
  flex: 33%;
  flex-grow: 0;
  padding: 20px 0;
}

.main__event-card {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.main__event-card img {
  width: 100%;
  object-fit: cover;
  transition: transform 1s;
}

.main__event--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.main__event-card--info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 0px 10px;
}
.main__event-card--info h3 {
  display: inline-block;
  font-size: x-small;
  padding: 2px 5px;
  background-color: white;
  color: red;
  font-weight: 200;
  border-radius: 3px;
}
.main__event-card--info h1 {
  font-size: medium;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
.main__event-card--info p {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.main__event-card:hover .main__overlay {
  z-index: 1;
}
.main__event-card:hover img {
  transform: scale(1.2);
}

.main__event-info {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__event-info--left {
  display: flex;
  flex-direction: column;
}

.main__event-info--left-header h1 {
  font-size: 0.7em;
}

.main__event-info--left-avatar {
  overflow: hidden;
}
.main__event-info--left-avatar img {
  width: 10px;
  border-radius: 50%;
}
.main__event-info--left-avatar span {
  font-size: small;
  color: gray;
}

.main__event-info--right button {
  padding: 10px 20px;
  width: max-content;
  background-color: #1abc9c;
  border: 0px;
  border-radius: 20px;
  font-size: 1.5vmin;
}
.main__event-info--right a {
  color: white;
}
.main__event-info--right button:hover {
  background-color: rgba(26, 188, 156, 0.8);
}
.main__event-info--right button:hover a {
  color: white;
}

.main__songs {
  padding: 20px 0px;
}

.main__songs-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__songs-title--item h1 {
  font-size: large;
  font-weight: 900;
  margin: auto;
}
.main__songs-title--item span {
  font-size: small;
  vertical-align: middle;
}
.main__songs-title--item ion-icon {
  vertical-align: middle;
}
.main__songs-title--item a:hover {
  color: #ee7c39;
}

.main__songs-items {
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.main__songs-item {
  flex: 45%;
  flex-grow: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.main__songs-item--avatar {
  overflow: hidden;
  border-radius: 10px;
}
.main__songs-item--avatar img {
  width: 50px;
}

.main__songs-item--title {
  flex: 70%;
}
.main__songs-item--title span a {
  vertical-align: middle;
  font-size: medium;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
.main__songs-item--title span a:hover {
  color: #ee7c39;
}
.main__songs-item--title h2 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  font-size: x-small;
}
.main__songs-item--title h2 a {
  font-size: x-small;
}
.main__songs-item--title h2 a:hover {
  color: #ee7c39;
}

.main__songs-item-listens {
  justify-self: flex-end;
  display: flex;
  flex: 20%;
  position: relative;
  align-items: center;
}

.main__songs-item-listens--count {
  width: 100%;
  text-align: end;
}
.main__songs-item-listens--count span {
  font-size: small;
}
.main__songs-item-listens--count ion-icon {
  vertical-align: middle;
}

.main__songs-item-listens--btn {
  width: 100%;
  text-align: end;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.main__songs-item-listens--btn ion-icon {
  vertical-align: middle;
  font-size: x-large;
  padding: 0px 10px;
}
.main__songs-item-listens--btn a:hover {
  color: #ee7c39;
}

.main__songs-item-listens:hover .main__songs-item-listens--count {
  visibility: hidden;
}
.main__songs-item-listens:hover .main__songs-item-listens--btn {
  display: block;
}

.main__partners {
  padding: 20px 0px;
}

.main__partners--title {
  text-align: center;
}
.main__partners--title h1 {
  display: inline-block;
  font-size: x-large;
  font-weight: 800;
}
.main__partners--title h1:hover {
  color: #ee7c39;
}

.main__partner {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main__partner--item {
  flex: 12.5%;
  flex-grow: 0;
}
.main__partner--item img {
  width: 100px;
  vertical-align: middle;
  padding: 5px 10px;
  object-fit: cover;
}

.main__advertisement {
  padding: 20px 0px;
  margin: auto;
}

.main__advertisement--item {
  position: relative;
}
.main__advertisement--item img {
  width: 100%;
}

.main__advertisement--item-close {
  position: absolute;
  top: 0px;
  right: 5px;
}
.main__advertisement--item-close a {
  font-size: large;
}

.main__information {
  padding: 20px 0px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.main__information--logo {
  flex: 10%;
}
.main__information--logo img {
  width: 100%;
}

.main__information--title {
  flex: 70%;
}
.main__information--title h1 {
  font-size: large;
  font-weight: 700;
}
.main__information--title p {
  font-size: medium;
}

.main__information--social {
  flex: 20%;
  text-align: end;
  font-size: large;
}
.main__information--social a {
  padding: 0px 10px;
}
.main__information--social a:hover {
  color: #ee7c39;
}

footer {
  z-index: 99999;
  display: flex;
  position: fixed;
  bottom: 0px;
  height: 70px;
  flex-wrap: nowrap;
  background-color: #1abc9c;
  color: white;
  align-items: center;
}
footer .music-player-name {
  flex: 25%;
  display: flex;
  align-items: center;
}
footer .music-player-name .music-player-name__img {
  padding-left: 10px;
}
footer .music-player-name .music-player-name__img img {
  height: 50px;
  border-radius: 5px;
}
footer .music-player-name .music-player-name__info {
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  width: 100%;
}
footer .music-player-name .music-player-name__info h3 {
  font-size: 1.2rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
footer .music-player-name .music-player-name__info p {
  font-size: 0.8rem;
  padding: 0px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
footer .music-player-name .music-player-name__info a {
  text-decoration: none;
  color: white;
  vertical-align: middle;
}
footer .music-player {
  flex: 50%;
}
footer .music-player audio {
  width: 100%;
}
footer .music-player-list {
  flex: 25%;
  text-align: end;
  padding-right: 1rem;
  padding-left: 10px;
}
footer .music-player-list a {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.3rem;
  padding-right: 1rem;
  border-radius: 5px;
  color: white;
}
footer .music-player-list .music-player-list__combie--show {
  display: none;
}
footer .music-player-list .music-player-list__show-list {
  text-decoration: none;
  background-color: #1abc9c;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
}

@media only screen and (max-width: 991px) {
  .aside__logo {
    padding: 10px 0;
    margin: 0px auto;
  }
  .aside__logo img {
    width: 30px;
    height: auto;
  }

  .aside__menu--item {
    text-align: center;
  }
  .aside__menu--item span {
    display: none;
  }
  .aside__menu--item li {
    padding: 10px 0px;
  }

  .aside__upgrade-vip {
    display: none;
  }

  .aside__menu {
    text-align: center;
  }
  .aside__menu h1 {
    font-size: 1.5vmax;
    font-weight: bold;
    padding: 0px;
    padding-top: 20px;
  }

  .aside__create-playlist {
    padding: 0;
    text-align: center;
  }
  .aside__create-playlist h1 {
    font-size: 1.5vmax;
    font-weight: bold;
    padding: 0px;
    padding-top: 10px;
  }

  footer .music-player-list .music-player-list__show-list {
    padding-right: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .main__recently-items {
    padding-top: 20px;
    flex-wrap: wrap;
  }

  .main__recently-item {
    flex: 30%;
    padding: 10px 15px;
  }

  .main__maybe-want-items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
  }

  .main__maybe-want-item {
    flex: 30%;
    flex-grow: 0;
    padding: 20px 20px;
  }

  .main__radio-items {
    display: flex;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main__radio-item {
    flex: 20%;
    flex-grow: 0;
    padding: 20px 0;
  }

  footer .music-player-list a {
    text-decoration: none;
    font-size: 5px;
    padding: 0.3rem;
    padding-right: 1rem;
    border-radius: 5px;
    color: white;
  }
  footer .music-player-list .music-player-list__combie {
    font-size: 15px;
  }
  footer .music-player-list .music-player-list__show-list {
    font-size: 15px;
    padding-right: 16px;
  }
}
@media only screen and (max-width: 575px) {
  header .header__right--item {
    display: none;
  }
  header .header__right--show {
    display: block;
  }

  aside {
    display: none;
  }

  .main__recently-items {
    flex-wrap: wrap;
  }

  .main__recently-item {
    flex: 40%;
  }

  .main__maybe-want-items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .main__maybe-want-item {
    flex: 40%;
    flex-grow: 0;
  }

  .main__today-music-items {
    justify-content: center;
    flex-wrap: wrap;
  }

  .main__today-music-item {
    flex: 40%;
    flex-grow: 0;
  }

  .main__xone-items {
    justify-content: center;
    flex-wrap: wrap;
  }

  .main__xone-item {
    flex: 40%;
    flex-grow: 0;
  }

  .main__radio-items {
    display: flex;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main__radio-item {
    flex: 20%;
    flex-grow: 0;
    padding: 20px 0;
  }

  .main__rank-items {
    flex-direction: column;
  }

  .main__mv-items {
    flex-direction: column;
  }

  .main__mv-item {
    padding-bottom: 50%;
  }

  .main__songs-items {
    flex-direction: column;
  }

  .main__event-items {
    flex-direction: column;
  }

  .main__event-item {
    flex: 100%;
  }

  .main__event-info {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main__event-info--left {
    display: flex;
    flex-direction: column;
  }

  .main__event-info--left-header h1 {
    font-size: 1.5em;
  }

  .main__event-info--left-avatar img {
    width: 20px;
  }

  .main__event-info--right button {
    font-size: 3vmin;
  }

  .main__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main__information--logo img {
    width: 20%;
    margin: auto;
  }

  .main__information--social {
    text-align: start;
  }

  footer .music-player-name__info {
    display: none;
  }
  footer .music-player-list a {
    font-size: 15px;
  }
  footer .music-player-list .music-player-list__combie--show {
    display: inline;
  }
  footer .music-player-list .music-player-list__combie {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
