:root {
  --header-height: 70px;
  --header-logo-height: 40px;
  --aside-logo-height: 40px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
* a {
  text-decoration: none;
  color: black;
}
* ion-icon {
  pointer-events: none;
}

body {
  background-color: #e8e5e5;
  background-image: url(../media/img/hinh-o-vuong.png);
}

.title {
  position: absolute;
  top: 110%;
  left: 50%;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #ee7c39;
  width: max-content;
  font-size: small;
  color: white;
  display: none;
}

header {
  position: fixed;
  right: 0px;
  width: 100%;
  display: flex;
  height: var(--header-height);
  align-items: center;
  justify-content: center;
  background-color: #1abc9c;
  z-index: 2;
}
header a {
  vertical-align: middle;
  color: black;
}
header a:hover {
  color: #ee7c39;
}

.header__search {
  flex: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__left {
  flex: 10%;
  display: flex;
  font-size: x-large;
  justify-content: end;
}

.header__left--btn-back {
  padding-right: 10px;
}

.header__left--btn-next {
  padding-left: 10px;
}

.header__center {
  flex: 70%;
  padding-left: 20px;
  display: flex;
}

.header__center--input {
  flex: 90%;
  flex-shrink: 0;
}
.header__center--input input {
  width: 100%;
  border-radius: 15px;
  color: #ee7c39;
  padding: 5px 10px;
  font-size: small;
  font-weight: 600;
  border: 0;
}
.header__center--input input::placeholder {
  color: #1abc9c;
  padding-left: -10px;
  font-size: small;
  font-weight: 500;
}
.header__center--input input:focus {
  outline: 0px;
}

.header__center--search-btn {
  position: relative;
  width: 10%;
  padding-left: 10px;
}
.header__center--search-btn ion-icon {
  vertical-align: middle;
  font-size: x-large;
}

.header__center--search-btn:hover .title {
  display: block;
}

.header__right {
  flex: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0px 20px 0px 40px;
  gap: 20px;
}

.header__right--avatar {
  position: relative;
}
.header__right--avatar img {
  height: var(--header-logo-height);
  border-radius: 50%;
  object-fit: cover;
}
.header__right--avatar .title {
  left: -100%;
}

.header__right--avatar:hover .title {
  display: block;
}

.header__right--item {
  position: relative;
}
.header__right--item ion-icon {
  font-size: large;
  padding: 10px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.header__right--item:hover .title {
  display: block;
}

aside {
  display: flex;
  width: 100%;
  position: fixed;
  left: 0px;
  height: 100vh;
  flex-direction: column;
  background-color: #1abc9c;
  padding: 0px !important;
  background-image: url(../media/img/hinh-o-vuong.png);
}
aside hr {
  margin: 10px;
}

.aside__logo {
  padding: 15px 20px;
}
.aside__logo img {
  height: var(--aside-logo-height);
  display: block;
  object-fit: cover;
}

.aside__menu--item {
  list-style: none;
  padding: 0;
  margin: 0;
}
.aside__menu--item li {
  padding: 10px 20px;
}
.aside__menu--item li ion-icon {
  vertical-align: middle;
  text-align: center;
  font-size: x-large;
  padding-right: 5px;
}
.aside__menu--item li i {
  vertical-align: middle;
  text-align: center;
  font-size: x-large;
  padding-right: 5px;
}
.aside__menu--item li span {
  vertical-align: middle;
  font-weight: 500;
  font-size: medium;
}
.aside__menu--item li:hover a {
  color: #ee7c39;
}
.aside__menu--item li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.aside__menu--item-live {
  background-color: red;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 5px;
  font-size: 10px !important;
  font-weight: bold !important;
  color: white;
}

.aside__scroll {
  overflow-y: scroll;
}

.aside__scroll::-webkit-scrollbar {
  width: 5px;
  background-image: url(../media/img/hinh-o-vuong.png);
  background-color: #1abc9c;
}

.aside__scroll::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: 0 0 3px rgb(0, 0, 0);
  background-color: #ee7c39;
}

.aside__upgrade-vip {
  padding: 10px;
  margin: 20px;
  text-align: center;
  background: linear-gradient(to right, rgba(21, 21, 21, 0.7), rgba(7, 52, 188, 0.8));
  border-radius: 10px;
}
.aside__upgrade-vip p {
  color: white;
  font-size: smaller;
}
.aside__upgrade-vip button {
  width: 90%;
  padding: 5px;
  border-radius: 20px;
  border: 0;
  background-color: yellow;
  font-weight: 600;
  font-size: smaller;
}

.aside__menu h1 {
  padding: 0 20px;
  font-size: x-large;
}

.aside__create-playlist {
  padding: 10px 20px;
}
.aside__create-playlist h1 {
  display: inline-block;
  font-size: small;
  font-weight: 700;
}
.aside__create-playlist ion-icon {
  vertical-align: middle;
  text-align: center;
  font-size: x-large;
  padding-right: 5px;
}
.aside__create-playlist a:hover {
  color: #ee7c39;
}

.aside__create-playlist:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

main {
  position: absolute;
  top: var(--header-height);
  right: 0;
  padding: 0 20px !important;
  height: 100vmax;
  display: flex;
  flex-direction: column;
}

.main__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__overlay--item a {
  color: white;
  font-size: large;
  padding: 10px;
  vertical-align: middle;
}
.main__overlay--item a:nth-child(2) {
  font-size: xx-large;
}

.banner {
  padding: 30px 0;
}
.banner .carousel-inner {
  border-radius: 10px;
}

.main__slide-banner {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 20px;
}

.main__slide-banner--item {
  flex: 30%;
}
.main__slide-banner--item img {
  width: 100%;
  border-radius: 10px;
}

.main__recently {
  padding: 20px 0;
}

.main__recently-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__recently-title--item h1 {
  font-size: large;
  font-weight: bold;
  vertical-align: middle;
}
.main__recently-title--item span {
  vertical-align: middle;
  font-size: small;
}
.main__recently-title--item ion-icon {
  vertical-align: middle;
}
.main__recently-title--item a:hover {
  color: #ee7c39;
}

.main__recently-items {
  display: flex;
  gap: 20px;
}

.main__recently-item {
  flex: 16%;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.main__recently-item--card {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.main__recently-item--card img {
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
  transition: transform 1s;
}

.main__recently-item--card:hover .main__overlay {
  z-index: 1;
}
.main__recently-item--card:hover img {
  transform: scale(1.2);
}

.main__recently-item--info {
  padding-top: 10px;
}
.main__recently-item--info h1 {
  font-size: medium;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
.main__recently-item--info a:hover {
  color: #ee7c39;
}

.main__maybe-want {
  padding: 20px 0px;
}

.main__maybe-want-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__maybe-want-title--item h1 {
  font-size: large;
  font-weight: 900;
}
.main__maybe-want-title--item span {
  font-size: small;
  vertical-align: middle;
}
.main__maybe-want-title--item ion-icon {
  vertical-align: middle;
}
.main__maybe-want-title--item a:hover {
  color: #ee7c39;
}

.main__maybe-want-items {
  display: flex;
  width: 100%;
  gap: 20px;
}

.main__maybe-want-item {
  flex: 20%;
  flex-grow: 0;
  padding: 20px 0;
}

.main__maybe-want-card {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.main__maybe-want-card img {
  width: 100%;
  object-fit: cover;
  transition: transform 1s;
}

.main__maybe-want-card:hover .main__overlay {
  z-index: 1;
}
.main__maybe-want-card:hover img {
  transform: scale(1.2);
}

.main__maybe-want-info {
  padding: 10px 0px;
}
.main__maybe-want-info a:hover {
  color: #ee7c39;
}

.main__maybe-want-info--name h1 {
  font-size: medium;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.main__maybe-want-info--author span {
  font-size: smaller;
  color: grey;
}
.main__maybe-want-info--author span:hover {
  color: #ee7c39;
}

.main__today-music {
  padding: 20px 0px;
}

.main__today-music-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__today-music-title--item h1 {
  font-size: large;
  font-weight: 900;
}
.main__today-music-title--item span {
  font-size: small;
  vertical-align: middle;
}
.main__today-music-title--item ion-icon {
  vertical-align: middle;
}
.main__today-music-title--item a:hover {
  color: #ee7c39;
}

.main__today-music-items {
  display: flex;
  width: 100%;
  gap: 20px;
}

.main__today-music-item {
  flex: 20%;
  flex-grow: 0;
  padding: 20px 0;
}

.main__today-music-card {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.main__today-music-card img {
  width: 100%;
  object-fit: cover;
  transition: transform 1s;
}

.main__today-music-card:hover .main__overlay {
  z-index: 1;
}
.main__today-music-card:hover img {
  transform: scale(1.2);
}

.main__today-music-info {
  padding: 10px 0px;
}
.main__today-music-info a:hover {
  color: #ee7c39;
}

.main__today-music-info--name h1 {
  font-size: medium;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.main__today-music-info--author span {
  font-size: small;
  color: grey;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.main__xone {
  padding: 20px 0px;
}

.main__xone-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__xone-title--item h1 {
  font-size: large;
  font-weight: 900;
}
.main__xone-title--item span {
  font-size: small;
  vertical-align: middle;
}
.main__xone-title--item ion-icon {
  vertical-align: middle;
}
.main__xone-title--item a:hover {
  color: #ee7c39;
}

.main__xone-items {
  display: flex;
  width: 100%;
  gap: 20px;
}

.main__xone-item {
  flex: 20%;
  flex-grow: 0;
  padding: 20px 0;
}

.main__xone-card {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.main__xone-card img {
  width: 100%;
  object-fit: cover;
  transition: transform 1s;
}

.main__xone-card:hover .main__overlay {
  z-index: 1;
}
.main__xone-card:hover img {
  transform: scale(1.2);
}

.main__xone-info {
  padding: 10px 0px;
}
.main__xone-info a:hover {
  color: #ee7c39;
}

.main__xone-info--name h1 {
  font-size: medium;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.main__xone-info--author span {
  font-size: small;
  color: grey;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.main__radio {
  padding: 20px 0px;
}

.main__radio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__radio-title--item h1 {
  font-size: large;
  font-weight: 900;
}
.main__radio-title--item span {
  font-size: small;
  vertical-align: middle;
}
.main__radio-title--item ion-icon {
  vertical-align: middle;
}
.main__radio-title--item a:hover {
  color: #ee7c39;
}

.main__radio-items {
  display: flex;
  width: 100%;
  gap: 30px;
}

.main__radio-item {
  flex: 14%;
  flex-grow: 0;
  padding: 20px 0;
}

.main__radio--ava-popup {
  position: relative;
}

.main__radio-card {
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  border: 5px solid rgba(0, 0, 0, 0.2);
}
.main__radio-card img {
  width: 100%;
  object-fit: cover;
  transition: transform 1s;
}
.main__radio-card .main__overlay--item ion-icon {
  font-size: 4vmax;
}

.main__radio-card--brand {
  position: absolute;
  right: 0;
  bottom: 5%;
  width: 30%;
  height: 30%;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid black;
  z-index: 2;
}
.main__radio-card--brand img {
  width: 100%;
  object-fit: cover;
}

.main__radio-card--live {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  border-radius: 5px;
  background-color: red;
  padding: 0px 10px;
  z-index: 2;
}
.main__radio-card--live span {
  font-size: xx-small;
  color: white;
  vertical-align: middle;
  font-weight: 700;
}

.main__radio-card:hover .main__overlay {
  z-index: 1;
}
.main__radio-card:hover img {
  transform: scale(1.2);
}

.main__radio-info {
  padding: 10px 0px;
  text-align: center;
}

.main__radio-info--name {
  padding-top: 10px;
}
.main__radio-info--name h1 {
  font-size: medium;
  font-weight: 600;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.main__radio-info--author span {
  font-size: small;
  color: grey;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.main__rank {
  padding: 20px 0px;
}

.main__rank-items {
  display: flex;
  width: 100%;
  gap: 20px;
}

.main__rank-item {
  flex: 33%;
  flex-grow: 0;
  padding: 20px 0;
}

.main__rank-card {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.main__rank-card img {
  width: 100%;
  object-fit: cover;
  transition: transform 1s;
}

.main__rank-card:hover .main__overlay {
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}
.main__rank-card:hover .main__overlay a {
  width: 100%;
  height: 100%;
}
.main__rank-card:hover img {
  transform: scale(1.1);
}

.main_mv {
  padding: 20px 0px;
}

.main__mv-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__mv-title--item h1 {
  font-size: large;
  font-weight: 900;
}
.main__mv-title--item span {
  font-size: small;
  vertical-align: middle;
}
.main__mv-title--item ion-icon {
  vertical-align: middle;
}
.main__mv-title--item a:hover {
  color: #ee7c39;
}

.main__mv-items {
  display: flex;
  gap: 40px;
  padding: 20px 0;
}

.main__mv-item {
  flex: 33%;
  position: relative;
  flex-grow: 0;
  padding-bottom: 17%;
  overflow: hidden;
}
.main__mv-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
