$bg-color:#1abc9c;
$bg-opacity:rgba(#000000,0.2);
$font-a-default:black;
$font-a-header:black;
$font-title:white;
$font-color-blue:#1abc9c;
$font-color-ograne:#ee7c39;
:root{
    --header-height:70px;
    --header-logo-height:40px;
}

*{
    padding: 0;
    margin: 0;
    a{
        text-decoration: none;
        color: $font-a-default;
    }
    font-family: 'Work Sans', sans-serif;
    ion-icon{
        pointer-events:none;
    }
}
.title{
    position: absolute;
    top: 110%;
    left: 50%;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ee7c39;
    width: max-content;
    font-size: small;
    color:$font-title;
    display: none;
}


// HEADER

header{
    position:fixed;
    width: 100%;
    display: flex;
    height: var(--header-height);
    align-items: center;
    justify-content: center;
    a{
        vertical-align: middle;
        color:$font-a-header;
    }
    background-color:$bg-color;
    a:hover{
        color: $font-color-ograne;
    }

    
}

.header__logo{
    flex: 10%;
    flex-shrink: 0;
    padding: 0px 20px;
    img{
        height: var(--header-logo-height);
        display: block;
        margin: 0 auto;
        object-fit: cover;
    }
}
.header__search{
    flex: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__left{
    flex: 10%;
    display: flex;
    font-size: x-large;
    justify-content: end;
}
.header__left--btn-back{
    padding-right: 10px;
}
.header__left--btn-next{
    padding-left: 10px;

}
.header__center{
    flex:70%;
    padding-left: 20px;
    display: flex;
    
}
.header__center--input{
    flex: 90%;
    flex-shrink: 0;
    input{
        width: 100%;
        border-radius: 15px;
        color: $font-color-ograne;
        padding: 5px 10px;
        font-size: small;
        font-weight: 600;
        border: 0;
    }
    input::placeholder{
        color: $font-color-blue;
        padding-left: -10px;
        font-size: small;
        font-weight: 500;
    }
    input:focus{
        outline: 0px;
    }
}

.header__center--search-btn{
    position: relative;
    width: 10%;
    padding-left: 10px;
    ion-icon{
        vertical-align: middle;
        font-size: x-large;
    }

}
.header__center--search-btn:hover .title{
    display: block;
}

.header__right{
    flex: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0px 20px 0px 40px;
    gap: 20px;
}

.header__right--avatar{
    position: relative;
    img{
        height: var(--header-logo-height);
        border-radius: 50%;
        object-fit: cover;
    }
    .title{
    left: -100%;
    }
}
.header__right--avatar:hover .title{
    display: block;
}
.header__right--item{
    position: relative;
    ion-icon{
        font-size: large;
        padding: 10px;
        border-radius: 50%;
        vertical-align: middle;
        text-align: center;
        background-color: $bg-opacity;
    }
}
.header__right--item:hover .title{
    display: block;
}


// MAIN

// ASIDE
